.info-Elementos{
    /* color: #fff; */
    display: none;
    border: 1px solid #fff;
    width: 90%;
    padding: .8rem;
    align-items: center;
    margin: 1rem .6rem;
}

.info-Elementos h4{
    /* display: block; */
    font-family: sans-serif;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    color: #143614;
    
}


.info-Elementos ul li{
    /* display: block; */
    font-family: sans-serif;
    font-size: .7em;
    list-style: none;
    margin-block-start: .8em;
    margin-block-end: .8em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.filtro-pesquisa{
    font-family: sans-serif;
}